$red: #bd4242; // Deep Chestnut
$lavender: #774c60; // Twilight Lavender
$purple: #372549;
$black: #1a1423; // Xiketic
$pink: #eacdc2; // Champagne Pink
$green: #A2E0A9; // Celadon
$blue: #c1dbe3;
$yellow: #f7cb39; // Saffron