$red: #bd4242; // Deep Chestnut
$lavender: #774c60; // Twilight Lavender
$purple: #372549;
$black: #1a1423; // Xiketic
$pink: #eacdc2; // Champagne Pink
$green: #3e6259; // Feldgrau
$yellow: #f7cb39; // Saffron