/* || Font Styles */
$font-path: "../fonts/";

@font-face {
    font-family: 'VCR';
    src: url($font-path + 'VCR_OSD_MONO.ttf') format('ttf'),
        url($font-path + 'vcr_osd_mono-webfont.woff2') format('woff2'),
        url($font-path + 'vcr_osd_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: STING;
    font-weight: normal;
    src: url($font-path + "Sting.otf") format("otf");
}

@font-face{
    font-family: Public Sans;
    font-weight: 400;
    src: url($font-path + "public-sans-v1.008/binaries/webfonts/PublicSans-Regular.ttf");
}

@font-face{
    font-family: Public Sans;
    font-weight: 900;
    src: url($font-path + "public-sans-v1.008/binaries/webfonts/PublicSans-Black.ttf");
}

@font-face{
    font-family: Public Sans;
    font-weight: 700;
    src: url($font-path + "public-sans-v1.008/binaries/webfonts/PublicSans-Bold.ttf");
}

@font-face{
    font-family: Public Sans;
    font-weight: 500;
    src: url($font-path + "public-sans-v1.008/binaries/webfonts/PublicSans-Medium.ttf");
}