/* || Font Styles */
@font-face {
  font-family: 'VCR';
  src: url("fonts/VCR_OSD_MONO.ttf") format("ttf"), url("fonts/vcr_osd_mono-webfont.woff2") format("woff2"), url("fonts/vcr_osd_mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: STING;
  font-weight: normal;
  src: url("fonts/Sting.otf") format("otf");
}

@font-face {
  font-family: Kenyan Coffee;
  font-weight: normal;
  src: url("fonts/kenyan coffee rg.ttf") format("ttf");
}

@font-face {
  font-family: Kenyan Coffee;
  font-weight: bold;
  src: url("fonts/kenyan coffee bd.ttf") format("ttf");
}

@font-face {
  font-family: Tondu;
  font-weight: normal;
  src: url("fonts/Tondu_Beta.ttf");
}

@font-face {
  font-family: Public Sans;
  font-weight: 400;
  src: url("fonts/public-sans-v1.008/binaries/webfonts/PublicSans-Regular.ttf");
}

@font-face {
  font-family: Public Sans;
  font-weight: 900;
  src: url("fonts/public-sans-v1.008/binaries/webfonts/PublicSans-Black.ttf");
}

@font-face {
  font-family: Public Sans;
  font-weight: 700;
  src: url("fonts/public-sans-v1.008/binaries/webfonts/PublicSans-Bold.ttf");
}

@font-face {
  font-family: Public Sans;
  font-weight: 500;
  src: url("fonts/public-sans-v1.008/binaries/webfonts/PublicSans-Medium.ttf");
}

@font-face {
  font-family: Nonsense;
  font-weight: normal;
  src: url("fonts/Nonsense.ttf");
}

.content-section {
  margin-bottom: 10vh;
  width: 100%;
}

.content {
  position: relative;
  z-index: 1;
}

.floating-image-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floating-image-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-caption {
  text-align: center;
  margin-top: 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
}

.slim-container {
  padding-top: 10vh;
  margin: auto;
  max-width: 600px;
  position: relative;
  z-index: 2;
}

body {
  max-width: 100%;
  margin: 0;
  padding-top: 80px;
  background-color: #372549;
  color: #eacdc2;
  font-family: Public Sans;
}

a {
  color: #bd4242;
}

a:hover {
  color: #f7cb39;
}

h1 {
  font-family: VCR;
  font-size: 6em;
  line-height: 1;
}

h2 {
  font-family: VCR;
  font-size: 4em;
  line-height: 1;
}

h3, .project-cover-img::before {
  font-family: VCR;
  font-size: 2.5em;
  line-height: 1;
}

h4 {
  font-family: Public Sans;
  font-weight: bold;
  font-size: 2em;
}

h5 {
  font-family: Public Sans;
  font-weight: bold;
  font-size: 1.5em;
}

h6 {
  font-size: 1.0em;
  font-weight: bold;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

nav {
  max-width: 100%;
  height: 80px;
  background-color: #bd4242;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.navbar-nav > li {
  margin-left: 25px;
  margin-right: 25px;
}

.navbar-nav > li a {
  font-size: 1em;
  font-family: VCR;
  color: #eacdc2;
  text-align: center;
  padding: 14px 16px;
}

.navbar-nav > li a span {
  color: #f7cb39;
}

p {
  margin-bottom: 20px;
  font-family: Public Sans;
  font-weight: normal;
  font-size: 1.2em;
}

p b {
  color: #eacdc2;
}

.personal-logo {
  position: absolute;
  top: 0;
  left: 30px;
  width: 120px;
}

.black-background {
  background-color: #1a1423;
}

/* || Greeting */
#greeting {
  height: 95vh;
  padding-top: 10vh;
}

#kevin-portrait {
  position: absolute;
  top: 100px;
  right: 2vw;
  width: 600px;
  height: auto;
}

#heythere {
  color: #f7cb39;
  font-family: VCR;
  padding-bottom: 10px;
}

#itsme {
  color: #bd4242;
  padding-bottom: 30px;
  font-family: Barbieri;
  font-weight: bold;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

#tagline {
  font-weight: normal;
  color: #eacdc2;
  width: 70%;
}

/* || Portfolio */
#portfolio {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  background-image: url("../images/Film Grain/AU_FG_Texture-1.jpg");
}

/* || Section */
.section-header {
  font-family: STING;
  font-weight: normal;
  color: #bd4242;
  padding-bottom: 30px;
  text-shadow: 5px 5px #372549;
}

/* || Project */
.project {
  margin-bottom: 20vh;
}

.project p {
  font-size: 1.25em;
}

.project hr {
  margin-top: 2px;
  margin-bottom: 20px;
}

.project-description-box {
  position: relative;
  min-height: 600px;
  max-width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #372549;
  padding: 30px 30px;
}

.project-description-box h3, .project-description-box .project-cover-img::before {
  font-family: VCR;
  line-height: 1;
}

.description-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.description-row :first-child {
  margin-right: 20px;
}

.visit-project {
  font-family: Public Sans;
  font-weight: bold;
  color: #bd4242;
}

.visit-project a:hover {
  color: #eacdc2;
}

.link-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.project-cover-img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.project-cover-img img {
  max-width: 100%;
  vertical-align: top;
}

.project-cover-img::after, .project-cover-img::before {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.project-cover-img::after {
  content: '\A';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.project-cover-img::before {
  content: "View Project >>";
  text-decoration: underline;
  color: white;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.project-cover-img:hover:after, .project-cover-img:hover:before {
  opacity: 1;
}

.portfolio-section-content {
  margin-top: 10px;
  margin-bottom: 50px;
}

#profile-pic {
  width: 400px;
  height: auto;
  background-repeat: repeat-y;
}

#about-me {
  position: relative;
  width: 100%;
  background-color: #bd4242;
  overflow: hidden;
}

#glitchcactus {
  position: relative;
  margin-top: 50px;
  z-index: 30;
  max-width: 100%;
  max-height: 30vh;
}

.static-background {
  -webkit-filter: opacity(5%);
          filter: opacity(5%);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  z-index: 0;
}

#footer-icon-row a {
  margin: 8px;
  color: #eacdc2;
}

#footer-icon-row a :hover {
  color: #372549;
}

#footer-icon-row :first-child {
  margin-left: 0;
}

#footer-icon-row :last-child {
  margin-right: 0;
}

#header-icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 75px;
}

#header-icons a {
  margin-bottom: 25px;
  color: #bd4242;
}

#header-icons a :hover {
  color: #eacdc2;
}

#vertical-bar {
  background-color: #bd4242;
  width: 2px;
  height: 50vh;
  position: absolute;
  left: 90px;
  bottom: 0;
}

.email-link-btn, .email-link-btn-red, .email-link-btn-white {
  margin-top: 50px;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 1rem 1.75rem;
  max-width: 300px;
  margin: auto;
}

.email-link-btn a, .email-link-btn-red a, .email-link-btn-white a {
  text-decoration: none;
}

.email-link-btn:hover, .email-link-btn-red:hover, .email-link-btn-white:hover {
  background-color: grey;
}

.email-link-btn:hover a, .email-link-btn-red:hover a, .email-link-btn-white:hover a {
  color: white;
}

.email-link-btn-red {
  color: #bd4242;
  border: 2px solid #bd4242;
}

.email-link-btn-red a {
  color: #bd4242;
}

.email-link-btn-red:hover {
  background-color: #bd4242;
  color: #eacdc2;
}

.email-link-btn-white {
  color: #eacdc2;
  border: 2px solid #eacdc2;
}

.email-link-btn-white a {
  color: #eacdc2;
}

.email-link-btn-white:hover {
  background-color: #eacdc2;
}

.email-link-btn-white:hover a {
  color: #bd4242;
}
/*# sourceMappingURL=home.css.map */